/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  max-width: 390px;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.header-shape-rectangle {
  background-color: #4c4c4c;
  height: 44px;
  width: 390px;
}

.header-shape-rectangle {
  background-color: #4c4c4c;
  height: 44px;
  width: 390px;
}

.img-card {
  margin: 15px;
}

.img-position {
  position: relative;
}

.shape-rectangle-red {
  background-color: red;
  height: 80px;
  width: 40px;
}

.shape-rectangle-red-position {
  position: fixed;
  left: 0;
  top: 140px;
  z-index: 1;
}

.shape-rectangle-light-grey {
  background-color: #d8d8d8;
  height: 44px;
  width: 44px;
}

.shape-rectangle-light-grey-position {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* .header-shape-rectangle {
  background-color: #4c4c4c;
  height: 44px;
  width: 390px;
}

.header-shape-rectangle-position {
  position: fixed;
  top: 0;
}

.img-card {
  margin: 15px;
}

.img-position {
  position: relative;
}

.shape-rectangle-red {
  background-color: red;
  height: 80px;
  width: 40px;
}

.shape-rectangle-red-position {
  position: fixed;
  left: 0;
  top: 140px;
}

.shape-rectangle-light-grey {
  background-color: #d8d8d8;
  height: 44px;
  width: 44px;
}

.shape-rectangle-light-grey-position {
  position: absolute;
  top: 15px;
  right: 15px;
}

.shape-rectangle-opac {
  background-color: rgba(255, 255, 255, 0.592);
} */
