/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  max-width: 390px;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.header-shape-rectangle {
  background-color: #4c4c4c;
  height: 44px;
  width: 390px;
}

.header-shape-rectangle {
  background-color: #4c4c4c;
  height: 44px;
  width: 390px;
}

.img-card {
  margin: 15px;
}

.img-position {
  position: relative;
}

.shape-rectangle-red {
  background-color: red;
  height: 80px;
  width: 40px;
}

.shape-rectangle-red-position {
  position: fixed;
  left: 0;
  top: 140px;
  z-index: 1;
}

.shape-rectangle-light-grey {
  background-color: #d8d8d8;
  height: 44px;
  width: 44px;
}

.shape-rectangle-light-grey-position {
  position: absolute;
  top: 15px;
  right: 15px;
}

.shape-rectangle-opac-1 {
  background-color: rgba(255, 255, 255, 0.554);
  height: 44px;
  width: 360px;
}

.shape-rectangle-opac-1-position {
  position: absolute;
  bottom: 0;
}

.shape-rectangle-opac-2 {
  background-color: rgba(255, 255, 255, 0.554);
  height: 165px;
  width: 320px;
}

.shape-rectangle-opac-2-position {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.shap-rectangle-grey-1 {
  background-color: grey;
  height: 20px;
  width: 20px;
}

.shap-rectangle-grey-1-position {
  position: absolute;
  top: 15px;
  left: 15px;
}

.shap-rectangle-grey-2 {
  background-color: grey;
  height: 20px;
  width: 20px;
}

.shap-rectangle-grey-2-position {
  position: absolute;
  top: 15px;
  left: 45px;
}

.shap-rectangle-grey-3 {
  background-color: grey;
  height: 20px;
  width: 20px;
}

.shap-rectangle-grey-3-position {
  position: absolute;
  top: 15px;
  left: 75px;
}

.shap-rectangle-grey-4 {
  background-color: grey;
  height: 44px;
  width: 71px;
}

.shap-rectangle-grey-4-position {
  position: absolute;
  top: 80px;
  left: 144px;
}

.container {
  display: flex;
  flex-direction: row;
}

.shape-rectangle-opac-3 {
}
